@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

body {
  font-family: "Roboto", sans-seriff;
  color: #949393;
  margin: 0;
}

a,
button {
  transition: 0.3s all ease-out;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #0043ee;
}

.row {
  display: flex;
}

.container {
  width: 530px;
  margin: 60px auto;
}

#body-wrap .col-8 {
  width: 70%;
}

#body-wrap .col-4 {
  width: 30%;
  height: 950px;
  overflow: hidden;
}

header#header {
  margin-bottom: 30px;
}

#header h1 {
  font-size: 3.5em;
  font-weight: 900;
  color: #FF2222;
}

.main-content {
  color: #000;
}

.main-content h2 {
  font-size: 2.4em;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}

#countdown-clock {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

#countdown-clock .time {
  background-color: #f5f5f5;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#countdown-clock .time>span {
  font-weight: 700;
}

#countdown-clock .time small {
  padding-top: 5px;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
}

.main-content p {
  font-size: 1.2em;
  color: #666;
  width: 70%;
}

#form .form-group {
  display: flex;
  margin: 20px 0;
}

input::placeholder {
  color: #949393;
}

.form-group input.form-control {
  width: 250px;
  height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 20px;
  border: none;
  background: #f5f5f5;
}

.form-group button.submit-button {
  padding: 18px 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0043ee;
  border: none;
  cursor: pointer;
  color: #fff;
}

.form-group button.submit-button:hover {
  background-color: #222630;
}

.form-group button.submit-button span {
  font-weight: 700;
  padding-left: 5px;
}

.social-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-links ul li {
  margin-right: 10px;
}

#footer .social-links {
  padding-top: 20px;
}


#footer .social-links li {
  padding-right: 20px;
}

#footer .social-links ul a {
  font-size: 1.6em;
  color: #626262;
  text-decoration: none;
}

#footer .social-links ul a:hover {
  color: #111;
}

.copyright p {
  color: #626262;
}


@media (max-width: 999px) {
  .container {
    padding-left: 70px;
  }

  #body-wrap .col-4 {
    width: 40%;
    margin-left: -48px;
    z-index: -1;
  }
}

@media (max-width: 599px) {
  #body-wrap .col-8 {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  #body-wrap .page-title {
    width: 98%;
  }

  #body-wrap .col-4 {
    width: 100%;
    margin-left: -438px;
    opacity: 0.1;
  }
}

@media (max-width: 540px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  #form .form-group {
    flex-wrap: wrap;
  }

  .form-group input.form-control {
    width: 100%;
    margin-bottom: 10px;
    background: #e4edf7;
  }

  .form-group button.submit-button {
    width: 100%;
  }

  #body-wrap .col-4 {
    margin-left: -108px;
  }
}